---

- name: Fetch latest release
  when: nut_exporter_version == "latest"
  block:
    - name: Get latest release
      ansible.builtin.uri:
        url: "https://api.github.com/repos/DRuggeri/nut_exporter/releases/latest"
        method: GET
        return_content: true
        status_code: 200
        body_format: json
        validate_certs: true
      register: _latest_release
      until: _latest_release.status == 200
      retries: 5
      check_mode: false

    - name: "Set nut_exporter version to {{ _latest_release.json.tag_name[1:] }}"
      ansible.builtin.set_fact:
        nut_exporter_version: "{{ _latest_release.json.tag_name[1:] }}"
# https://github.com/DRuggeri/nut_exporter/releases/download/v3.1.1/nut_exporter-v3.1.1-linux-386
- name: Download nut_exporter binary to local folder  # noqa risky-file-permissions
  become: false
  ansible.builtin.get_url:
    url: "https://github.com/DRuggeri/nut_exporter/releases/download/v{{ nut_exporter_version }}/{{ nut_exporter_binary_name }}"
    dest: "/tmp/{{ nut_exporter_binary_name }}"
  register: _download_archive
  until: _download_archive is succeeded
  retries: 5
  delay: 2
  delegate_to: localhost
  check_mode: false

- name: Propagate official nut_exporter binary
  ansible.builtin.copy:
    src: "/tmp/{{ nut_exporter_binary_name }}"
    dest: "/usr/local/bin/nut-exporter"
    mode: "0755"
    owner: root
    group: root
  notify: Restart nut exporter

- name: Create nut-exporter system group
  ansible.builtin.group:
    name: nut-exporter
    system: true
    state: present

- name: Create nut-exporter system user
  ansible.builtin.user:
    name: nut-exporter
    system: true
    shell: "/usr/sbin/nologin"
    group: nut-exporter
    createhome: false
